@import 'tailwindcss' source(none);
@import 'flowbite-react/plugin/tailwindcss';
@source '../../../../../.flowbite-react/class-list.json';
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';
